body{

    // background-image: radial-gradient(circle, #031057, #040353, #090541, #170336, #000000);
    background-image: radial-gradient(circle, #470652, #330441, #310333, #27021f, #000000);
}


    .user-profile{

        height:calc(100vh - 150px);
        width:100vw;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap:3rem;
        

        .pic-user{  
            height:90%;
            max-height: 70vh;
            max-width:50vw;
            box-sizing: border-box;
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 70px 50px;
            gap: 36px;
            align-items: center;
            -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
            background-color: rgba(80, 65, 152, 0.2);
            border-radius: 70px;

            img{
                object-fit: cover;
                height:auto;
                width:200px;
                border-radius: 50%;
                border:3px solid white;
            }
            
            .infoProfile {

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 36px;

                .user {
                    font-size: 1.5rem;
                    color:var(--couleurViolette);
                }
            }
            

        }

        .description{
            display:flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

               
            
                .textArea{
                    display: block;
                    width:800px;
                    max-width: 60vw;
                    max-height: 70vh;
                    height:auto;
                    -webkit-backdrop-filter: blur(15px);
                    backdrop-filter: blur(15px);
                    background-color: rgba(80, 65, 152, 0.2);
                    color: rgb(218, 218, 218);
                    font-size: 1.3rem;
                    text-align: justify;
                    line-height: 2rem;
                    box-sizing: border-box;
                    padding:3rem;
                    border-radius: 70px;
                }

            
        }



    }

    
@media screen and (max-width:1120px) {
    .user-profile{
        flex-direction: column;

        .pic-user {
            flex-direction: row;
            justify-content: space-around;
            max-width:80vw;
            width: 80vw;
            padding: 36px;

            .infoProfile{

                .user {
                    font-size: 1.3rem;
                }
            }
        }

        .description{
            max-width:80vw;
            width: 80vw;
            padding: 0;

            .textArea{
                font-size: 1.2rem;
                max-width:80vw;

            }
        }
    }
    
    
    
}
        