.mainCardList {
   position: relative;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.mesMatch {
    position: relative;
    width: 40vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    padding: 16px;
    border: 10px ridge var(--couleurViolette);
    margin-left: 10px;
}

#h2MesMatch {
text-align: left;
margin-left: 40px;
}

.carte {
    position: sticky;
    top: -20vh;
    width: 60vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.boutonswipe {
    width: 150px;
    height: 40px;
    /* margin-left: 130px; */
}

.divbouton {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}


@media screen and (max-width:850px) {
    .mainCardList {
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: 95vw;
         margin-left: auto;
         margin-right: auto;
         gap: 24px;
     }

     .mesMatch {
        position: relative;
        width: 95vw;
        height: 210px;
        flex-wrap: nowrap;
        box-sizing: border-box;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 16px;
        margin-left: 0;
    }

    .carte {
        width: 95vw;
        height: calc(100vh - 420px);
        position: relative;
        top: 0;
        justify-content: space-around;
    }
}
@media screen and (max-width:550px) {

    #h2MesMatch{
        font-size: 1.1rem;
        margin-left: 0;
        text-align: center;
    }

}

@media screen and (max-height:830px) and (max-width:850px) {
    .carte {
        height: calc(100vh - 380px);
    }
}