.boxCard{
    width: 45%;
    height:75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: no-wrap;
    background: rgba(57, 48, 183, 0.47);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(57, 48, 183, 0.62);
    margin: 10px;
    padding: 50px;
    
}

.boxPhoto {
    width: 70%;
    height: 85%;
}

.photo {
    width: 100%;
    height: 100%;
    /* aspect-ratio: 3/2; */
    object-fit: cover;
    object-position: top;
}

figcaption {
    
}