@import url(https://allfont.net/allfont.css?fonts=star-jedi);

.cardContenair{
    position: sticky;
    top: 0;
    left: auto;
    width: 500px;
    height:500px;
    max-height: 60vh;
    transition: all 0.9s ease;
    transform-style: preserve-3d;
    cursor: pointer;
    /* margin: 50px; */
    font-family: 'Star Jedi', arial;
}

.cardContenair.flip {
    transform: rotateY(180deg);
  }

.boxCard{
    position:absolute;
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: no-wrap;
    background-color: rgba(182, 182, 182, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: #AE4199 2px solid;
    margin: 10px;
    padding-top:20px;
    box-sizing: border-box;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.back{
    transform: rotateY(180deg);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(182, 182, 182, 0.2);
    display: flex;
    justify-content: flex-start;
    border: #AE4199 2px solid;
}



.boxPhoto {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 15px;
}

.photo {
    width: 100%;
    object-fit: cover;
    transition: 1s;
    
}

.card-figcaption {
    font-size: 1rem;
    color: white;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 7%;
    text-align: center;
}

.isFavorite {
   background-image: url('../assets/coeur-plein.png');
   background-size: contain;
   background-repeat: no-repeat;
   width: 15%;
   height: auto;
   display: flex;
   justify-content: flex-end;
   position: relative;
}

.notFavorite {
    background-image: url('../assets/coeur-vide.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 15%;
    height: auto;
    position: relative;
}

.logosLayout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

/* .bulleLikeMe {
    position: absolute;
}

.bulleLikeMe:hover {
    
} */

.logoz {
    width: 10%;
    border-radius: 50%;
    margin: 5px 20px;
}

.logoz:hover{
    -ms-transform: scale(1.2); 
    transform: scale(1.2);
    transition: 1s;
}

.layout-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
}

.layout-row p {
    font-size: 1.5em;
    color: white;
}

.layout-row:nth-child(even) {
    flex-direction: row-reverse;
}

.photo:hover{
    -ms-transform: scale(1.2); 
    transform: scale(1.2);
    transition: 1s;
}

.layout-row:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  @media screen and (max-width:850px) {
    
  }