.globalFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    height: 100px;
  }
  
  .footerImg {
    height: 500px;
    position: absolute;
    bottom: 0;
    left: 0;
  }