.globalFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    height: 50vh;
    /* rajout antoine */
    position:absolute;
    bottom:0;
  }
  
  .footerImg {
    /*Reprise antoine*/
    height: 100%;
    /**/
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
  }

  @media screen and (max-width: 1100px) {
    .footerImg{
      z-index: -1;
      opacity: 0.4;
      height: 80vh;
    }

    .footerImg {
      max-width: 100vw;
    }
  }