.globalHeader {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 20%;
  margin: 10px;
}

.heartLogo {
  height: 100px;
}

.ulHeader {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-right:2rem;
}

.ulHeader li {
  padding: 2rem;
}

.ulHeader a {
  text-decoration: none;
  color: rgb(253, 252, 252);
  font-size: 30px;


  font-family: var(--fontFamily);
}

