.globalHeader {
  position: relative;
  
}

.menu-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  height: 15vh;
  box-sizing: border-box;
  padding: 2vw;
}

.heartLogo {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 10px;
  height: 100px;
}

.ulHeader {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-right:2rem;
  
}

.ulHeader li {
  padding: 2rem;
}

.ulHeader a {
  text-decoration: none;
  color: rgb(253, 252, 252);
  font-size: 30px;
  font-family: var(--fontFamily);
}
//TEST
.menuToggle {
  width: 50px;
  display: none;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 2rem;
  color: rgb(253, 252, 252);
  font-family: var(--fontFamily);
}
/* Styles pour le menu burger en mode responsive */

@media screen and (max-width: 960px) {

  .menu-container {
    padding: 0;
    height: 100px;
  }

  .ulHeader {
    display: none;
    margin-right: 0;
    
  }

  .menuToggle {
    position: absolute;
    z-index: 3;
    right: 5vw;
    top: 10px;
    display: block;
    background-color: #AE4199;
    // opacity: 1;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    
  }

  .mobileMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
    width: 100%;
    height: 100vh;
    padding: 20vh 0;
    box-sizing: border-box;
    list-style-type: none;
  }

  .mobileMenu a {
    text-decoration: none;
    color: rgb(253, 252, 252);
    font-size: 2rem;
    font-family: var(--fontFamily);
    cursor: pointer;
  }

  .mobile-menu-container {
    position: absolute;
    top: 0;
    width: 0;
    width: 100vw;
    height: 100vh;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(80, 65, 152, 0.2);
    z-index: 2;
    left: -100%;
    transition: transform 0.5s ease-out;
    transform: translateX(100%) ;
  }


}

@media screen and (max-width:600px) {
  
  .menu-container {
    height: 80px;
  }
  
  .menuToggle {
    right: 2vw;
  }
}


@media screen and (max-width:450px) {
  .heartLogo {
    height: 80px;
  }

  .menuToggle {
    right: -1vw;
    top: 5px;
  }
}