.globalHeader {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}

.heartLogo {
  height: 100px;
}

.ulHeader {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.ulHeader li {
  padding: 12px;
}

.ulHeader a {
  text-decoration: none;
  color: rgb(253, 252, 252);
  font-size: 30px;
}