@media screen and (max-width: 900px){

    .wrap-MiniCard{
            height:13%;
           
    }

    .profile-pic{
        width: 60px;
        height:60px;
    }
}

@media screen and (min-width: 900px){
    
    .wrap-MiniCard{
            // height:100vh;
           
    }

    .profile-pic{
        width: 90px;
        height:90px;
    }

}

.wrap-MiniCard{
    width: 100%;
    background-color: white;
    display:flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    box-sizing: border-box;
    padding:1rem;
    
    .profile-pic{


        img {
            object-fit: cover;
            width:100%;
            height:100%;
            border-radius: 50%;
        }
    }

    .content-card{
        display:flex;
        flex-direction: column;
        gap:1rem;
        justify-content: space-around;

        .profile-name{
            font-weight:800;
        }

        .profile-text{
            font-style: italic;
            
        }
    }

   
  
}


