* {
  margin: 0px;
  padding: 0px;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}


:root {
  --widthFormulaireHome: 400px;
  --heightFormulaireHome: 50vh;
  --loginFormFontSize: 1rem;
  --h1FontWeight: 1.5rem;
  --couleurViolette: #AE4199;
  --fontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

